@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">INTEGRANTES</h1>
    <ul style="list-style: none;">
        <li>Becco Fernandez, Santiago</li>
        <li>Leiva, Florencia</li>
        <li>Leiva. Pablo</li>
    </ul>
</div>
